body{
    background-image: url(../images/test.png);
    color: white;
    background-position: top center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
html,body{height:100%;}

input{
    outline:none;
}
.h4{
    font-size: 2em;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 100;
    margin-bottom: 50px;
}
.klein{
    max-width: 600px;
    margin-top: 25px;
}
.mm-listview {
    font-size: 0.7em;
    line-height: 70px;
}
.center{
    text-align: center;
}
.space50{
    margin-top: 50px;
    margin-bottom: 50px;
}
.top50{
    margin-top: 50px;
}
.top100{
    margin-top: 100px;
}
.bigfont{
    font-size: 2em;
}
.maxwidth150{
    max-width: 150px;
}
.form-group {
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: top center;
    
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
.containerlogo{
    height: 100%;
    padding-bottom: %;
    padding-top: 15%;
    padding-left: 16%;
    padding-right: 16%;

}
.logoklein{
    height: 60px;
}
nav{
    font-size: 2em;
}
.circle{
    width: 5px;
    height: 5px;
    background: #e74c3c;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.iconmenu{
    height: 20px;
    margin-right: 20px;
}
.vs{
    font-size: 2em;
    margin-top: 22px;
    font-weight: bolder;
}
.dark{
    background-color: #eaeaea;
}
.logogroot{
    background: url(../images/logogroot.png) no-repeat center center;
    height: 90%;
    display: block;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

}
.container{
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 

}
.container:after {
  content: "";
  display: block;
}
.site-footer, .container:after {
  height: 50px; 
}
.site-footer {
font-size: 0.8em;    
}
.btn{
    background: none;
    border: none;
    background-color: none;
    border: 5px solid white;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
    color: white;
}
.btn:hover{
    background: none;
    border: none;
    background-color: white;
    border: 5px solid white;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
    color: #000080;
}
.btn-default{
    background: none;
    background-color: none;
    border: 5px solid white;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
    padding-right: 1.5em;
    padding-left: 1.5em;
    font-weight: bold;
}
.btn-club{
    background: none;
    background-color: none;
    border: none;
    color: white;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
    font-weight: bold;
    width: 500px;
    height: 100px;
    margin-bottom: -17px;
    padding-top: 10px;
}


.containerclub{
    padding-right: 15px;
    padding-left: 15px;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    height: 120px;
    padding-top: 20px;
}


a.knop:hover {
  text-decoration: none;
  color: #555;
  background: #fff;
}
.light{
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
}
.dark{
    background-color: transparent;

}
.form-control{
    border-radius: 0;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    padding-top: 3em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    box-shadow: none;
}
.form-control::-webkit-input-placeholder {
   color: white;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

.form-control:-ms-input-placeholder {  
   color: white;  
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
a.knop{
    margin-top: 50px;
	width: 200px;
	height: 200px;
	display: inline-block;
	position: relative;
	line-height: 64px;
	background-color: #eaeaea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);
	background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea); 
	background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea); 
	background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea);
	background-image: linear-gradient(top, #f6f6f6, #eaeaea);
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

a.knop:active {
	top: 1px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f6f6f6));
	background-image: -webkit-linear-gradient(top, #eaeaea, #f6f6f6);
	background-image: -moz-linear-gradient(top, #eaeaea, #f6f6f6); 
	background-image: -ms-linear-gradient(top, #eaeaea, #f6f6f6); 
	background-image: -o-linear-gradient(top, #eaeaea, #f6f6f6);
	background-image: linear-gradient(top, #eaeaea, #f6f6f6);
}
a.knop:before{
	content: '';
	position: absolute;
	z-index: -1;
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	background-color: #eaeaea;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	opacity: 0.5;		
}
a.knop:active::before {
	top: -9px;
}
 
a.knop:hover::before {
	opacity: 1;
}
 
a.knop:hover::before {
	background-color: #2ecc71;
}

.card-yellow {
  border: none;  
  
  height: 100px;
width:  100px;
    background-image: url(../images/yellow.svg);
background-color: none;
    margin-top: 140px;
}

.card-red {
    border: none;  
  
  height:  100px;
width:  100px;
    background-image: url(../images/red.svg);
background-color: none;
    margin-top: 140px;
}

.card-goal {
  border: none;  
  
  height: 100px;
width:  100px;
    background-image: url(../images/ballwhite.svg);
background-color: none;
  border-radius: 10px;
    margin-top: 140px;

}

.card-offside {
   border: none;  
  
  height:  100px;
width:  100px;
    background-image: url(../images/flag.svg);
background-color: none;
    margin-top: 140px;

}
.bottom{
    bottom: 0;

    display: block;
    width: 75%;
position: fixed;
left: 50%;
margin-left: -37.5%;
}
footer{
    text-align: center;
}

#madewithlove {
    text-align: center;
}
.marginleftright{
    margin-left: 25px;
    margin-right: 25px;
}
input{
    background: none;
}